@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700;800;900&family=Lato:wght@400;600;700&display=swap");
a,
button {
  border: none;
  outline: none;
  text-decoration: none;
}

a {
  display: block;
}

a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}

.global__title {
  font-weight: 800;
  font-family: "Inter", sans-serif;
  font-size: calc(35px + 25 * ((100vw - 320px) / 1650));
  line-height: 1;
  position: relative;
  z-index: 11;
}

.burger {
  width: 50px;
  height: 50px;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  z-index: 301;
  transform: scale(0.85);
  display: none;
}
.burger span {
  width: 40px;
  height: 4px;
  background: #2DD3C5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}
.burger-line__top {
  margin-top: -9px;
}
.burger-line__bottom {
  margin-top: 9px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

body {
  color: #404040;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: linear-gradient(61.35deg, #FFFFFF 0%, #ECF3FA 21.21%, #C2D9ED 100%);
  position: relative;
  min-height: 537px;
}
.header__image-wave {
  position: absolute;
  top: 0;
  width: 57%;
  height: 128%;
  right: 0;
  z-index: 1;
}
.header__image-bullits1 {
  position: absolute;
  right: 14%;
  top: 151px;
  z-index: 2;
}
.header__logo {
  flex: 0 0 221px;
}
.header__image-bullits2 {
  position: absolute;
  bottom: -60px;
  left: 5px;
}
.header__row {
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
.header__list {
  display: flex;
}
.header__item {
  display: flex;
  margin-left: 55px;
}
.header__item img {
  margin-right: 9px;
}
.header__bulls {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
}
.header__bull {
  padding: 23px 30px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  cursor: pointer;
}
.header .bull-active {
  background: #D1E2F1;
  border-radius: 4px 4px 0 0;
}
.header__link {
  font-size: 16px;
  font-weight: 700;
  color: #404040;
  transition: 0.25s;
}
.header__link:hover {
  color: #2DD3C5;
}
.header__body {
  display: flex;
  position: relative;
  z-index: 3;
  margin-top: 50px;
}
.header__kta {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.header__title {
  font-family: "Inter", sans-serif;
  font-size: calc(30px + 30 * ((100vw - 320px) / 1650));
  line-height: 0.97;
}
.header__title span {
  color: #2DD3C5;
  text-transform: uppercase;
  font-size: calc(60px + 80 * ((100vw - 320px) / 1650));
  font-weight: 900;
}
.header__mail {
  font-weight: 600;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1650));
  color: #404040;
  white-space: nowrap;
  margin-left: 6px;
}
.header__phone {
  color: #404040;
  font-weight: 700;
  white-space: nowrap;
  font-size: calc(15px + 5 * ((100vw - 320px) / 1650));
  margin-left: 6px;
}
.header__contacts {
  display: flex;
  margin-top: 29px;
}
.header__inner {
  display: flex;
}
.header__inner-call {
  margin-left: 28px;
}
.header__image {
  width: 92%;
}
.header__image img {
  max-width: -webkit-max-content;
  max-width: max-content;
}

.main {
  position: relative;
  z-index: 7;
}
.main__title {
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: calc(24px + 9 * ((100vw - 320px) / 1650));
}
.main__subtitle {
  font-size: calc(18px + 7 * ((100vw - 320px) / 1650));
}

.footer {
  background: linear-gradient(61.35deg, #FFFFFF 0%, #ECF3FA 21.21%, #C2D9ED 100%);
  padding-top: 60px;
  position: relative;
  z-index: 7;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  width: 25%;
  margin: 10px 0 50px 0;
}
.footer__item {
  margin: 5px 0;
}
.footer__link {
  font-size: 18px;
  color: #404040;
  position: relative;
  display: inline-block;
}
.footer__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  height: 1px;
  width: 100%;
  background: #404040;
  transition: 0.25s ease-in-out;
}
.footer__link:hover:before {
  transform: translateX(-50%) scaleX(1);
}
.footer__text {
  margin-top: 10px;
  font-size: 16px;
  padding-right: 45px;
}
.footer__inner {
  width: 25%;
}
.footer__row {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0 35px 0;
  border-top: 1px solid rgba(64, 64, 64, 0.2);
}
.footer__logo {
  flex: 0 0 224px;
  transform: translateY(11px);
}
.footer__nav {
  flex-grow: 1;
  margin: 0 40px;
}
.footer__nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__subtext {
  color: #AEAEAE;
  font-weight: 600;
  font-size: 14px;
}
.footer__nav-link {
  color: #404040;
  font-size: 14px;
  transition: 0.25s;
}
.footer__nav-link:hover {
  color: #000;
}
.footer__phone {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-right: 40px;
}
.footer__phone img {
  margin-right: 5px;
  width: 16px;
}
.footer__tel {
  font-size: 18px;
  font-weight: 700;
  color: #404040;
}
.footer__mail {
  display: flex;
  align-items: center;
}
.footer__mail img {
  margin-right: 5px;
  margin-top: 4px;
  width: 17px;
}
.footer__mailto {
  color: #404040;
  font-weight: 700;
  font-size: 16px;
  white-space: nowrap;
  position: relative;
  display: inline-block;
}
.footer__mailto:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  background: #404040;
  transition: 0.25s ease-in-out;
}

@media (max-width: 1400px) {
  .header__image-bullits2 {
    display: none;
  }
}
@media (max-width: 1150px) {
  .header__image-bullits1 {
    top: 257px;
    right: 3%;
  }

  .header__image-wave {
    width: 66%;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .header__bull {
    font-size: 16px;
    padding: 15px 23px;
  }

  .footer__nav {
    margin: 0 15px;
  }

  .footer__phone {
    margin-right: 15px;
  }

  .footer__tel {
    font-size: 14px;
  }
}
@media (max-width: 983px) {
  .header__image-wave {
    width: 73%;
  }

  .header__item {
    margin-left: 28px;
  }

  .header__contacts {
    flex-direction: column;
  }

  .header__inner-call {
    margin-left: 3px;
    margin-top: 10px;
  }

  .footer__logo {
    flex: 0 0 150px;
  }

  .footer__row {
    position: relative;
  }

  .footer__phone {
    position: absolute;
    right: -15px;
    bottom: 17px;
  }

  .footer__link {
    font-size: 15px;
  }

  .footer__list {
    padding-right: 5px;
  }

  .footer__inner {
    width: 50%;
    margin: 20px 0;
  }

  .footer__text {
    margin-top: 0;
  }
}
@media (max-width: 800px) {
  .burger {
    display: block;
  }

  .header__row {
    z-index: 300;
  }

  .header__list {
    position: absolute;
    top: 0;
    right: -400px;
    width: 280px;
    padding: 80px 0 40px;
    background: #fff;
    flex-direction: column;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.05);
    transition: 0.5s ease-in-out;
  }

  .header__item {
    margin: 8px 30px;
    background: #fff;
  }
  .header__item img {
    flex: 0 0 25px;
    display: flex;
    width: 25px;
    max-width: 25px;
    object-fit: none;
  }

  .header__bull {
    padding: 10px 18px;
  }

  .header__image {
    transform: translateX(-95px);
  }

  .header__bulls {
    position: relative;
    z-index: 5;
  }

  .header__image-wave {
    height: 73%;
  }
}
@media (max-width: 767px) {
  .footer__list {
    width: 50%;
  }

  .footer {
    padding-top: 25px;
  }

  .footer__wrapper {
    flex-wrap: wrap;
  }
  .footer__wrapper .footer__list:nth-child(2n) {
    padding-left: 15px;
  }

  .footer__list {
    margin: 10px 0;
  }

  .footer__nav {
    position: absolute;
    top: 10px;
    left: 45%;
    width: 80%;
    transform: translateX(-50%);
  }

  .footer__row {
    padding: 30px 0 35px 0;
  }

  .footer__title {
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .header__image {
    transform: translateX(-200px);
  }

  .footer__inner {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 470px) {
  .header__image {
    display: none;
  }

  .header__image-wave {
    height: initial;
  }

  .header__image-bullits1 {
    display: none;
  }

  .header {
    min-height: initial;
  }

  .header__bulls {
    margin-top: 50px;
  }

  .footer__nav {
    width: 100%;
    left: 46%;
  }

  .footer__mailto {
    font-size: 13px;
  }

  .footer__nav-link {
    font-size: 13px;
  }

  .footer__subtext {
    font-size: 12px;
  }

  .footer__tel {
    font-size: 13px;
  }

  .footer__logo {
    flex: 0 0 117px;
  }
}
.header__list-active {
  right: -20px;
}

.active-burger .burger-line__center {
  opacity: 0;
  transform: translate(-100%, -50%);
}
.active-burger .burger-line__top {
  transform: translate(-50%, 210%) rotate(-45deg);
}
.active-burger .burger-line__bottom {
  transform: translate(-50%, -210%) rotate(45deg);
}

.header__line {
  min-height: initial;
  height: 70px;
}

@media (max-width: 800px) {
  .header__line .header__row {
    padding-top: 10px;
  }
}
.header__image-wavemin {
  height: initial !important;
}

.seo__bul1 {
  position: absolute;
  bottom: -150px;
  right: 7%;
}

.footer {
  position: relative;
}

.footer__ellipse1 {
  position: absolute;
  bottom: -20px;
  right: -20px;
  z-index: -1;
}

.main {
  display: flex;
  flex-direction: column;
}

.table {
  position: relative;
  z-index: 4;
}
.table p {
  line-height: 140%;
}
.table__header {
  background: #D1E2F1;
  height: 60px;
}
.table__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}
.table__item {
  font-weight: 700;
  font-size: 14px;
}
.table__item-price {
  flex: 0 0 225px;
  display: flex;
  justify-content: flex-end;
  padding-right: 35px;
}
.table__wrapper {
  border-bottom: 1px solid #F4F4F4;
  display: flex;
  padding: 30px 0;
}
.table__flag-img {
  height: 14px;
  display: flex;
}
.table__country {
  flex: 0 0 144px;
  display: flex;
  line-height: 1;
  font-weight: 700;
}
.table__country img {
  display: flex;
  align-self: flex-start;
  margin-top: 4px;
  margin-right: 10px;
}
.table__activity {
  flex: 0 0 112px;
  margin-left: 31px;
}
.table__date {
  flex: 0 0 127px;
  margin-left: 30px;
}
.table__nominee {
  flex: 0 0 111px;
  display: flex;
  margin-left: 30px;
}
.table__nominee img {
  display: flex;
  align-self: start;
  margin-top: 5px;
  margin-left: 5px;
}
.table__bank {
  flex: 0 0 108px;
  margin-left: 30px;
}
.table__info {
  flex: 0 0 270px;
  margin-left: 14px;
}
.table__inner {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  padding-left: 30px;
}
.table__price {
  font-weight: 700;
  font-size: 20px;
}
.table__buy {
  background: #2DD3C5;
  width: 100px;
  min-height: 36px;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-top: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.table__buy:hover {
  background: #25a89d;
}

.container-table {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.mailto {
  background: linear-gradient(61.35deg, #FFFFFF 0%, #ECF3FA 21.21%, #C2D9ED 100%);
  padding: 60px 0;
}
.mailto__form {
  background: #fff;
  padding: 60px;
  border-radius: 10px;
}
.mailto__wrapper {
  display: flex;
}
.mailto__email {
  height: 60px;
  border: 1px solid #EFEFEF;
  border-radius: 1000px;
  padding-left: 30px;
  flex-grow: 1;
  margin-right: 30px;
  font-size: 16px;
  color: #404040;
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}
.mailto__email::placeholder {
  color: #CBCBCB;
}
.mailto__email:focus {
  box-shadow: 0 0 4px 4px rgba(45, 211, 197, 0.3);
  border: 1px solid rgba(45, 211, 197, 0.6);
}
.mailto__label {
  margin-top: 40px;
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}
.mailto__btn {
  width: 320px;
  height: 60px;
  padding: 20px 30px;
  border-radius: 100px;
  background: #2DD3C5;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
  cursor: pointer;
}
.mailto__btn:hover {
  background: #25a89d;
}

.seo {
  font-size: 18px;
  padding-bottom: 40px;
}
.seo p {
  margin: 10px;
}
.seo__title {
  margin-top: 60px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-transform: uppercase;
}
.seo__wrapper {
  display: flex;
  justify-content: space-between;
}
.seo__wrapper p {
  width: 49%;
}
.seo__subtitle {
  margin: 15px 0 15px 10px;
}
.seo__mintitle {
  margin-left: 10px;
}

.popup__wave {
  position: fixed;
  top: 0;
  z-index: 699;
  right: 0;
}

.popup-bul1 {
  position: fixed;
  bottom: 50px;
  left: 30px;
}

.popup-bul2 {
  position: fixed;
  top: 100px;
  right: 150px;
  z-index: 700;
}

.popup-exit {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #888;
  transform: rotate(45deg);
  cursor: pointer;
}
.popup-exit:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%);
  width: 15px;
  height: 2px;
  background: #888;
}
.popup-exit:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  transform: translate(-50%, -50%) rotate(90deg);
  width: 15px;
  height: 2px;
  background: #888;
}

.popup {
  padding-bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.1);
  transition: 0.6s ease-in-out;
  position: fixed;
  width: 100vw;
  background: linear-gradient(90deg, #ECF3FA 0%, #ECF3FA 21.21%, #C2D9ED 100%) !important;
  min-height: 100vh;
  z-index: 800;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup:before {
  content: "";
  position: fixed;
  top: -100px;
  left: -50px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: #fff;
  opacity: 0.4;
}
.popup__wrapper {
  width: 100%;
  position: relative;
  z-index: 805;
  background: #fff;
  border-radius: 10px;
  margin-top: 70px;
  padding: 40px 60px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.03);
}
.popup__flex {
  display: flex;
  flex-direction: column;
}
.popup__line {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #EFEFEF;
  padding-bottom: 25px;
}
.popup__title {
  font-size: 50px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #404040;
}
.popup__text {
  font-size: 16px;
}
.popup__price-inner {
  display: flex;
  align-items: flex-end;
}
.popup__price {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.1;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
}
.popup__box {
  display: flex;
  flex-direction: column;
  width: 33.3333%;
  padding: 0 30px 0 0;
}
.popup__inr {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.popup__inr .popup__box:nth-child(3) {
  padding: 0;
}
.popup__inp {
  width: 100%;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  margin-top: 10px;
}
.popup__inp:focus {
  box-shadow: 0 0 3px #2DD3C5;
  border: 1px solid #2DD3C5;
}
.popup__box-text {
  margin-top: 20px;
}
.popup__textarea {
  width: 100%;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  margin-top: 10px;
  padding: 20px;
  resize: none;
  transition: 0.3s;
}
.popup__textarea:focus {
  box-shadow: 0 0 3px #2DD3C5;
  border: 1px solid #2DD3C5;
}
.popup__btn-inner {
  display: flex;
  justify-content: flex-end;
}
.popup__btn {
  width: 320px;
  height: 60px;
  color: #fff;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: #2DD3C5;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
  transition: 0.25s;
}
.popup__btn:hover {
  background: #25a89d;
}
.popup__list {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.popup__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 40px;
}
.popup__item a {
  color: #404040;
  font-weight: 700;
  transition: 0.3s;
}
.popup__item img {
  margin: 5px auto;
  height: 23px;
}
.popup__item:hover a {
  color: #2DD3C5;
}

.popup-active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

@media (max-width: 1650px) {
  .popup-bul2 {
    display: none;
  }

  .popup-bul1 {
    display: none;
  }
}
@media (max-width: 1200px) {
  .table__item {
    flex: 0 0 100px;
  }

  .container-table {
    max-width: 1000px;
  }

  .table__activity {
    margin-left: 4px;
  }

  .table__item-price {
    flex: 0 0 220px;
  }

  .table__country {
    flex: 0 0 124px;
  }

  .table__date {
    margin-left: 11px;
  }

  .table__nominee {
    margin-left: 0;
  }

  .table__bank {
    margin-left: 14px;
  }

  .table__info {
    flex: 0 0 214px;
  }

  .popup__wave {
    display: none;
  }
}
@media (max-width: 1010px) {
  .table__item {
    flex: 0 0 75px;
  }

  .table__item-price {
    flex: 0 0 150px;
  }

  .container-table {
    max-width: 800px;
    width: 800px;
  }

  .table__wrapper {
    padding: 15px 0;
  }

  .table {
    overflow-y: auto;
  }
  .table__header {
    position: relative;
    z-index: 4;
  }
  .table__header:before {
    position: absolute;
    z-index: -2;
    content: "";
    width: 880px;
    top: 0;
    left: 0;
    background: #D1E2F1;
    height: 60px;
  }

  .table__body {
    font-size: 13px;
  }

  .table__country {
    flex: 0 0 88px;
    flex-direction: column;
  }

  .table__flag-img {
    margin-bottom: 4px;
  }

  .table__date {
    margin-left: 0;
    flex: 0 0 115px;
  }

  .table__bank {
    margin-left: 5px;
    flex: 0 0 93px;
  }

  .table__nominee {
    flex: 0 0 89px;
  }

  .table__item-price {
    transform: translateX(90px);
  }
}
@media (max-width: 900px) {
  .mailto__btn {
    height: 50px;
    width: 220px;
  }

  .mailto__email {
    height: 50px;
  }

  .popup__title {
    font-size: 40px;
  }
}
@media (max-width: 800px) {
  .popup__wrapper {
    padding: 25px 38px;
  }

  .popup__box {
    padding: 0 13px 0 0;
  }
}
@media (max-width: 640px) {
  .mailto__form {
    padding: 30px;
  }

  .mailto__label {
    margin-top: 20px;
  }

  .seo__wrapper {
    flex-direction: column;
  }
  .seo__wrapper p {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .popup__line,
.popup__inr {
    flex-direction: column;
  }

  .popup__box {
    width: 100%;
    padding: 0;
  }

  .popup__textarea {
    height: 150px;
  }

  .popup__price-inner {
    margin-top: 10px;
  }
}
@media (max-width: 500px) {
  .mailto__wrapper {
    flex-direction: column;
  }

  .popup__item {
    margin: 0 15px;
  }

  .popup__price {
    font-size: 25px;
  }

  .popup__title {
    font-size: 30px;
  }

  .popup__wrapper {
    margin-top: 30px;
  }

  .popup__inr {
    margin-top: 10px;
  }

  .mailto__btn {
    width: 100%;
  }

  .mailto__email {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .popup__inp {
    height: 50px;
  }

  .popup__box {
    margin-top: 10px;
  }

  .popup__btn {
    width: 100%;
    height: 50px;
    padding: 10px 30px;
  }

  .popup__list {
    margin-top: 20px;
  }
}
@media (max-width: 385px) {
  .popup__wrapper {
    padding: 24px 15px;
  }

  .popup__title {
    font-size: 26px;
  }

  .popup__price {
    font-size: 20px;
  }
}
.fixed {
  overflow: hidden;
}

.footer-contact {
  background: linear-gradient(90deg, #fff 0%, #ECF3FA 21.21%, #C2D9ED 100%) !important;
}

.main-contact {
  overflow: hidden;
  background: linear-gradient(90deg, #fff 0%, #ECF3FA 21.21%, #C2D9ED 100%) !important;
}

.map {
  max-width: initial;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: -1;
}

.cirlce {
  position: absolute;
  width: 12px;
  background: #25cf85;
  height: 12px;
  border-radius: 50%;
  opacity: 0.4;
  left: 0;
  top: 0;
  transition: 0.3s;
}
.cirlce .contry {
  opacity: 0;
  transition: 0.3s;
  font-weight: 700;
  font-size: 20px;
}

.main-bul1 {
  position: absolute;
  top: 50px;
  left: -100px;
}

.main-bul2 {
  position: absolute;
  top: 900px;
  left: 50px;
}

.main-bul3 {
  position: absolute;
  bottom: -100px;
  left: 50px;
}

.poland,
.singapore {
  transform: translate(15px, -5px);
}

.germany {
  transform: translateY(10px);
}

.hongkong {
  transform: translate(-20px, 10px);
}

.cirlce1 {
  left: 217px;
  top: 350px;
}

.cirlce2 {
  left: 170px;
  top: 356px;
}

.cirlce3 {
  left: 715px;
  top: 675px;
}

.cirlce4 {
  left: 760px;
  top: 525px;
}

.cirlce-active {
  opacity: 1;
}
.cirlce-active .contry {
  opacity: 1;
}

.main-contact .container {
  position: relative;
}

.countr {
  padding-top: 40px;
}
.countr__wrapper {
  max-width: 60%;
}
.countr__txt {
  font-size: 12px;
}
.countr__list {
  display: flex;
  margin-top: 40px;
  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
  justify-content: space-between;
}
.countr__item {
  font-size: 35px;
  color: #CBCBCB;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  font-weight: 700;
  transition: 0.25s;
}
.countr__item:hover {
  color: #a3a3a3;
}
.countr__item-active {
  color: #2DD3C5 !important;
}
.countr__office {
  max-width: 610px;
  margin-top: 60px;
}
.countr__office:before {
  background-image: url(../image/icons/geo.svg);
}
.countr__geo {
  display: none;
  font-weight: 600;
  font-size: 20px;
}
.countr__phones:before {
  background-image: url(../image/icons/Phone.svg);
}
.countr__wrappers {
  display: flex;
  flex-direction: column;
  max-width: 540px;
  margin-top: 25px;
  margin-right: 20px;
}
.countr__inline {
  display: flex;
}
.countr__box {
  padding-left: 27px;
  position: relative;
  padding-top: 4px;
}
.countr__box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
}
.countr__tel {
  display: none;
  font-weight: 700;
  color: #404040;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
}
.countr__socials:before {
  background-image: url(../image/icons/WhatsApp.svg);
}
.countr__inner {
  display: flex;
}
.countr__mails {
  margin-top: 25px;
}
.countr__mails:before {
  background-image: url(../image/icons/Email.svg);
}
.countr__social {
  display: none;
  font-weight: 700;
  font-size: 22px;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  color: #404040;
}
.countr__mail {
  display: none;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #404040;
}
.countr__skypes {
  margin-top: 25px;
}
.countr__skypes:before {
  background-image: url(../image/icons/skype.svg);
}
.countr__skype {
  display: none;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #404040;
}
.active {
  display: block;
}

.mailto-contact {
  background: none;
}

.box {
  transform: translate(0px, -40px);
}

.map-mob {
  display: none;
}

@media (max-width: 1700px) {
  .box {
    transform: translate(-100px, -40px);
  }

  .main-bul2, .main-bul3 {
    display: none;
  }
}
@media (max-width: 1480px) {
  .box {
    transform: translate(-178px, -139px);
  }

  .mailto-contact {
    margin-top: 55px;
  }

  .main-bul1 {
    display: none;
  }
}
@media (max-width: 1300px) {
  .box {
    transform: translate(-75px, -48px) scale(0.8);
  }
}
@media (max-width: 1200px) {
  .box {
    transform: translate(-83px, -51px) scale(0.75);
  }

  .countr__item {
    font-size: 26px;
  }

  .countr__wrapper {
    max-width: 52%;
  }

  .countr__geo,
.countr__mail,
.countr__skype {
    font-size: 18px;
  }

  .countr__tel,
.countr__social {
    font-size: 19px;
  }
}
@media (max-width: 1100px) {
  .box {
    transform: translate(-131px, -51px) scale(0.75);
  }
}
@media (max-width: 1000px) {
  .map-mob {
    display: block;
  }

  .map-desc {
    display: none;
  }

  .box {
    transform: translate(-50px, 15px) scale(1);
  }

  .cirlce1 {
    left: 126px;
    top: 204px;
  }

  .cirlce {
    width: 10px;
    height: 10px;
  }

  .cirlce2 {
    left: 100px;
    top: 209px;
  }

  .cirlce3 {
    left: 420px;
    top: 393px;
  }

  .cirlce4 {
    left: 445px;
    top: 308px;
  }

  .cirlce-active .contry {
    font-size: 17px;
  }

  .countr__item {
    font-size: 22px;
  }

  .countr__wrapper {
    max-width: 51%;
  }

  .countr__office {
    margin-top: 25px;
  }

  .countr__inline {
    flex-direction: column;
  }

  .box {
    transform: translate(-137px, 120px) scale(1);
  }
}
@media (max-width: 885px) {
  .countr__item {
    font-size: 20px;
  }

  .countr__wrapper {
    max-width: 55%;
  }
}
@media (max-width: 765px) {
  .countr__inline {
    flex-direction: row;
  }

  .mailto-contact {
    margin-top: 288px;
  }

  .box {
    transform: translate(-226px, 221px) scale(1);
  }

  .map {
    opacity: 0.9;
  }

  .countr__wrapper {
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  .box {
    transform: translate(-291px, 221px) scale(1);
  }

  .countr__wrapper {
    max-width: 100%;
  }

  .countr__inline {
    flex-direction: column;
  }

  .box {
    transform: translate(-279px, 326px) scale(1);
  }

  .countr__mails,
.countr__wrappers,
.countr__skypes {
    margin-top: 10px;
  }
}
@media (max-width: 486px) {
  .box {
    transform: translate(-313px, 326px) scale(1);
  }

  .countr__item {
    font-size: 17px;
  }

  .countr__geo,
.countr__mail,
.countr__skype {
    font-size: 16px;
  }

  .countr__tel,
.countr__social {
    font-size: 16px;
  }
}
@media (max-width: 457px) {
  .box {
    transform: translate(-222px, 336px) scale(0.8);
  }

  .mailto-contact {
    margin-top: 198px;
  }
}
@media (max-width: 400px) {
  .box {
    transform: translate(-242px, 366px) scale(0.8);
  }

  .countr__list {
    flex-wrap: wrap;
    text-align: center;
  }

  .countr__item {
    width: 50%;
  }
}
@media (max-width: 350px) {
  .box {
    display: none;
  }

  .mailto-contact {
    margin-top: 0px;
    padding: 40px 0;
  }
}
.main {
  position: relative;
  z-index: 9;
  background: #fff;
}
.news {
  position: relative;
  margin-bottom: 100px;
}
.news__bul1 {
  position: absolute;
  top: 329px;
  left: 11%;
  z-index: 11;
}
.news__bul2 {
  position: absolute;
  bottom: 460px;
  left: -70px;
}
.news__bul3 {
  position: absolute;
  right: 7%;
  bottom: 163px;
}
.news__wrapper {
  display: flex;
  flex-direction: column;
}
.news__inner {
  display: flex;
  justify-content: space-between;
}
.news__maxtitle {
  position: absolute;
  top: 40px;
  left: 0;
}
.news__blocks {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 64%;
  padding-top: 122px;
}
.news__blocks:before {
  content: "";
  position: absolute;
  top: 0px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #CCDAE8 100%);
  width: 1500px;
  height: 100%;
  transform: translateX(-48%);
  z-index: -1;
}
.news__block {
  width: 48%;
  position: relative;
  height: 430px;
  margin: 15px 0;
  z-index: 13;
  border-radius: 5px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 60px 40px 30px;
}
.news__img-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 5px;
}
.news__text {
  font-size: 12px;
  font-weight: 600;
}
.news__subtitle {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 120%;
  margin-top: 10px;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.news__line {
  display: flex;
  align-items: center;
}
.news__date {
  font-size: 12px;
  font-weight: 700;
}
.news__view {
  font-size: 12px;
  font-weight: 700;
  display: flex;
  margin-left: 15px;
  align-items: center;
}
.news__view img {
  margin-right: 5px;
}
.news__aside-title {
  margin-top: 30px;
  margin-bottom: 40px;
}
.news__aside {
  width: 360px;
  padding-left: 20px;
  padding-top: 27px;
  position: relative;
}
.news__aside .news__inline:nth-child(1) {
  border-bottom: 1px solid #EFEFEF;
}
.news__aside:before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: 350%;
  height: 100%;
  background: linear-gradient(to bottom, #F3F3F3, #fff);
  z-index: -1;
}
.news__aside-text {
  font-size: 18px;
  line-height: 160%;
  margin: 10px 40px 40px 0;
  transition: 0.2s;
  color: #404040;
}
.news__aside-text:hover {
  color: rgba(64, 64, 64, 0.7);
}
.news__aside-date {
  font-size: 15px;
  font-weight: 700;
}
.news__inner-year {
  display: flex;
  align-items: center;
  margin: 13px 0;
}
.news__year {
  font-size: 18px;
}
.news__arrow {
  margin: 0 18px;
}
.news__posts {
  font-size: 18px;
  white-space: nowrap;
  transition: 0.2s;
  color: #404040;
}
.news__posts:hover {
  color: rgba(64, 64, 64, 0.7);
}
.news__paginations {
  display: flex;
  align-items: center;
  padding-left: 110px;
  white-space: nowrap;
  transform: translateY(70px);
}
.news__paginations-prev {
  font-size: 18px;
  background: none;
  outline: none;
  cursor: pointer;
  opacity: 0.4;
}
.news__paginations-list {
  display: flex;
  margin: 0 30px;
}
.news__paginations-link {
  font-size: 18px;
  margin: 0 20px;
  color: #404040;
}
.news__paginations-link-active {
  color: #2DD3C5;
  position: relative;
}
.news__paginations-link-active:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid #2DD3C5;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  transform: translate(-50%, -50%);
}
.news__paginations-next {
  font-size: 18px;
  background: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1750px) {
  .seo__bul1,
.news__bul1 {
    display: none;
  }
}
@media (max-width: 1430px) {
  .news__bul2 {
    display: none;
  }

  .news__blocks {
    flex: 0 0 70%;
    padding-right: 50px;
  }
}
@media (max-width: 1160px) {
  .news__blocks {
    padding-right: 52px;
  }

  .news__paginations {
    padding-left: 103px;
  }
}
@media (max-width: 1020px) {
  .news__block {
    height: 360px;
  }

  .news__subtitle {
    font-size: 19px;
  }

  .news__arrow {
    width: 26%;
  }

  .news__bul3 {
    display: none;
  }

  .news__paginations {
    padding-left: 58px;
  }

  .news__aside {
    padding-left: 0;
  }

  .news__aside-text {
    font-size: 16px;
  }

  .news__aside-text {
    margin: 0px 0px 20px 0;
  }
}
@media (max-width: 930px) {
  .news__block {
    height: 280px;
  }

  .news__subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .news__paginations {
    padding-left: 30px;
  }
}
@media (max-width: 740px) {
  .news__inner {
    flex-direction: column;
  }

  .news__blocks {
    flex: 1 1 auto;
    width: initial;
    padding-right: 0;
    padding-bottom: 40px;
  }

  .news__arrow {
    width: 49px;
  }

  .news__aside {
    display: flex;
    justify-content: space-around;
    width: initial;
  }

  .news__inline {
    padding: 0 20px;
  }

  .news__paginations {
    padding-left: 0;
    justify-content: center;
    margin: 15px auto 0;
    transform: none;
  }

  .news__aside {
    padding-top: 20px;
  }

  .news__blocks {
    padding-top: 87px;
  }

  .news__aside .news__inline:nth-child(2) {
    border-bottom: 1px solid #EFEFEF;
  }

  .news {
    margin-bottom: 40px;
  }
}
@media (max-width: 512px) {
  .news__aside {
    flex-direction: column;
  }

  .news__paginations-list {
    margin: 0 5px;
  }

  .news__paginations-link {
    margin: 0 11px;
    font-size: 13px;
  }

  .news__aside-title {
    margin-bottom: 15px;
  }

  .news__subtitle {
    font-size: 15px;
  }

  .news__paginations-link-active:before {
    width: 28px;
    height: 28px;
  }

  .news__block {
    padding: 24px 10px 20px 20px;
  }
}
@media (max-width: 430px) {
  .news__block {
    width: 100%;
    margin: 15px 20px;
  }

  .news__maxtitle {
    left: 17px;
  }
}
@media (max-width: 330px) {
  .news__block {
    margin: 15px 0px;
  }

  .news__maxtitle {
    left: 0px;
  }
}
.header__image-wave-mob {
  display: none;
}

@media (max-width: 767px) {
  .header__image-wave-mob {
    display: block;
    width: initial;
  }

  .header__image-wave-desc {
    display: none;
  }
}
.about {
  padding-top: 40px;
  position: relative;
}
.about__title {
  max-width: 772px;
  margin-bottom: 30px;
}
.about__image {
  margin-bottom: 60px;
  width: 100%;
}
.about:before {
  position: absolute;
  top: -100px;
  right: -50px;
  content: "";
  width: 267px;
  height: 267px;
  background: #fff;
  border-radius: 50%;
  opacity: 0.3;
}

.footer-contact {
  background: linear-gradient(90deg, #fff 0%, #ECF3FA 21.21%, #C2D9ED 100%) !important;
}

.main-contact {
  overflow: hidden;
  background: linear-gradient(90deg, #fff 0%, #ECF3FA 21.21%, #C2D9ED 100%) !important;
}

.main-bul5 {
  position: absolute;
  right: 50px;
  bottom: 350px;
}

.seo p {
  font-size: 18px;
}
.seo__blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.seo__block {
  position: relative;
  width: 50%;
  margin: 0 !important;
  padding: 5px 35px 15px 35px;
}
.seo__block:before {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 20px;
  height: 20px;
  background-image: url(../image/icons/ok.svg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
}

.about__image-mob {
  display: none;
}

@media (max-width: 767px) {
  .about__image-mob {
    display: block;
  }

  .about__image-desc {
    display: none;
  }

  .seo__block {
    width: 100%;
  }
}
@media (max-width: 1620px) {
  .main-bul5 {
    display: none;
  }
}
@media (max-width: 450px) {
  .seo__block {
    padding: 5px 0px 15px 30px;
  }
}
/*# sourceMappingURL=style.css.map */