.main {
  display: flex;
  flex-direction: column;
}

.table {
  position: relative;
  z-index: 4;

  p {
    line-height: 140%;
  }

  &__header {
    background: #D1E2F1;
    height: 60px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
  }

  &__item {
    font-weight: 700;
    font-size: 14px;
  }

  &__item-price {
    flex: 0 0 225px;
    display: flex;
    justify-content: flex-end;
    padding-right: 35px;

  }

  &__body {}

  &__wrapper {
    border-bottom: 1px solid #F4F4F4;
    display: flex;
    padding: 30px 0;
  }

  &__flag-img {
    height: 14px;
    display: flex;
  }

  &__country {
    flex: 0 0 144px;
    display: flex;
    line-height: 1;
    font-weight: 700;

    img {
      display: flex;
      align-self: flex-start;
      margin-top: 4px;
      margin-right: 10px;
    }
  }

  &__activity {
    flex: 0 0 112px;
    margin-left: 31px;
  }

  &__date {
    flex: 0 0 127px;
    margin-left: 30px;
  }

  &__nominee {
    flex: 0 0 111px;
    display: flex;
    margin-left: 30px;

    img {
      display: flex;
      align-self: start;
      margin-top: 5px;
      margin-left: 5px;
    }
  }

  &__bank {
    flex: 0 0 108px;
    margin-left: 30px;
  }

  &__info {
    flex: 0 0 270px;
    margin-left: 14px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: center;
    padding-left: 30px;
  }

  &__price {
    font-weight: 700;
    font-size: 20px;
  }

  &__buy {
    background: $main;
    width: 100px;
    min-height: 36px;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-top: 15px;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background: $c-hover;
    }

  }
}

.container-table {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.mailto {
  background: linear-gradient(61.35deg, #FFFFFF 0%, #ECF3FA 21.21%, #C2D9ED 100%);
  padding: 60px 0;

  &__form {
    background: #fff;
    padding: 60px;
    border-radius: 10px;
  }

  &__wrapper {
    display: flex;
  }

  &__email {
    height: 60px;
    border: 1px solid #EFEFEF;
    border-radius: 1000px;
    padding-left: 30px;
    flex-grow: 1;
    margin-right: 30px;
    font-size: 16px;
    color: $text;
    display: flex;
    align-items: center;
    padding-bottom: 3px;

    &::placeholder {
      color: #CBCBCB;
    }

    &:focus {
      box-shadow: 0 0 4px 4px rgba(#2DD3C5, 0.3);
      border: 1px solid rgba(#2DD3C5, 0.6);
    }

  }

  &__label {
    margin-top: 40px;
    display: block;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;

  }

  &__btn {
    width: 320px;
    height: 60px;
    padding: 20px 30px;
    border-radius: 100px;
    background: $main;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $inter;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background: $c-hover;
    }
  }
}

.seo {
  font-size: 18px;
  padding-bottom: 40px;

  p {
    margin: 10px;
  }

  &__title {
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    p {
      width: 49%;
    }
  }

  &__subtitle {
    margin: 15px 0 15px 10px;
  }

  &__mintitle {
    margin-left: 10px;
  }
}




.popup__wave {
  position: fixed;
  top: 0;
  z-index: 699;
  right: 0;
}

.popup-bul1 {
  position: fixed;
  bottom: 50px;
  left: 30px;
}

.popup-bul2 {
  position: fixed;
  top: 100px;
  right: 150px;
  z-index: 700;
}

.popup-exit {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #888;
  transform: rotate(45deg);
  cursor: pointer;

  &:before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%);
    width: 15px;
    height: 2px;
    background: #888;

  }

  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%) rotate(90deg);
    width: 15px;
    height: 2px;
    background: #888;

  }
}

.popup {
  padding-bottom: 50px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.1);
  transition: .6s ease-in-out;
  position: fixed;
  width: 100vw;
  background: linear-gradient(90deg, #ECF3FA 0%, #ECF3FA 21.21%, #C2D9ED 100%) !important;
  min-height: 100vh;
  z-index: 800;
  overflow-y: auto;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &:before {
    content: '';
    position: fixed;
    top: -100px;
    left: -50px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.4;
  }

  &__wrapper {
    width: 100%;
    position: relative;
    z-index: 805;
    background: #fff;
    border-radius: 10px;
    margin-top: 70px;
    padding: 40px 60px;
    box-shadow: 0 0 4px 4px rgba(#000, 0.03);
  }

  &__flex {
    display: flex;
    flex-direction: column;
  }

  &__inner {}

  &__line {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 25px;
  }

  &__title {
    font-size: 50px;
    font-weight: 700;
    font-family: $inter;
    color: $text;

  }

  &__text {
    font-size: 16px;
  }

  &__price-inner {
    display: flex;
    align-items: flex-end;
  }

  &__price {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.1;
    font-family: $inter;
    margin-left: 10px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    width: 33.3333%;
    padding: 0 30px 0 0;
  }

  &__label {}

  &__name {}

  &__inr {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;

    .popup__box:nth-child(3) {
      padding: 0;
    }
  }

  &__inp {
    width: 100%;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    transition: .3s;
    margin-top: 10px;

    &:focus {
      box-shadow: 0 0 3px $main;
      border: 1px solid $main;
    }

  }

  &__mail {}

  &__phone {}

  &__box-text {
    margin-top: 20px;


  }

  &__textarea {
    width: 100%;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    margin-top: 10px;
    padding: 20px;
    resize: none;
    transition: .3s;

    &:focus {
      box-shadow: 0 0 3px $main;
      border: 1px solid $main;
    }
  }

  &__btn-inner {
    display: flex;
    justify-content: flex-end;
  }

  &__btn {
    width: 320px;
    height: 60px;
    color: #fff;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    font-family: $inter;
    font-size: 16px;
    background: $main;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50px;
    transition: .25s;

    &:hover {
      background: $c-hover;
    }
  }

  &__list {
    display: flex;
    margin-top: 50px;
    justify-content: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 40px;

    a {
      color: $text;
      font-weight: 700;
      transition: .3s;
    }

    img {
      margin: 5px auto;
      height: 23px;
    }

    &:hover {
      a {
        color: $main;
      }
    }
  }
}

.container {}

.popup-active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}


// ? ==================================================================================Media

@media (max-width:1650px) {
  .popup-bul2 {
    display: none;
  }

  .popup-bul1 {
    display: none;
  }
}

@media (max-width:1200px) {
  .table__item {
    flex: 0 0 100px;
  }

  .container-table {
    max-width: 1000px;
  }

  .table__activity {
    margin-left: 4px;
  }

  .table__item-price {
    flex: 0 0 220px;
  }

  .table__country {
    flex: 0 0 124px;
  }

  .table__date {
    margin-left: 11px;
  }

  .table__nominee {
    margin-left: 0;
  }

  .table__bank {
    margin-left: 14px;
  }

  .table__info {
    flex: 0 0 214px;
  }

  .popup__wave {
    display: none;
  }


}

@media (max-width:1010px) {
  .table__item {
    flex: 0 0 75px;
  }

  .table__item-price {
    flex: 0 0 150px;
  }

  .container-table {
    max-width: 800px;
    width: 800px;

  }

  .table__wrapper {
    padding: 15px 0;
  }

  .table {
    overflow-y: auto;

    &__header {
      position: relative;
      z-index: 4;

      &:before {
        position: absolute;
        z-index: -2;
        content: '';
        width: 880px;
        top: 0;
        left: 0;
        background: #D1E2F1;
        height: 60px;
      }
    }
  }

  .table__body {
    font-size: 13px;
  }

  .table__country {
    flex: 0 0 88px;
    flex-direction: column;
  }

  .table__flag-img {
    margin-bottom: 4px;
  }

  .table__date {
    margin-left: 0;
    flex: 0 0 115px;
  }

  .table__bank {
    margin-left: 5px;
    flex: 0 0 93px;
  }

  .table__nominee {
    flex: 0 0 89px;
  }

  .table__item-price {
    transform: translateX(90px);
  }
}

@media (max-width:900px) {
  .mailto__btn {
    height: 50px;
    width: 220px;
  }

  .mailto__email {
    height: 50px;
  }

  .popup__title {
    font-size: 40px;
  }
}

@media (max-width:800px) {
  .popup__wrapper {
    padding: 25px 38px;
  }

  .popup__box {
    padding: 0 13px 0 0;
  }
}

@media (max-width:640px) {
  .mailto__form {
    padding: 30px;
  }

  .mailto__label {
    margin-top: 20px;
  }

  .seo__wrapper {
    flex-direction: column;

    p {
      width: 100%;
    }
  }
}

@media (max-width:600px) {

  .popup__line,
  .popup__inr {
    flex-direction: column;
  }

  .popup__box {
    width: 100%;
    padding: 0;
  }

  .popup__textarea {
    height: 150px;
  }

  .popup__price-inner {
    margin-top: 10px;
  }
}

@media (max-width:500px) {
  .mailto__wrapper {
    flex-direction: column;
  }

  .popup__item {
    margin: 0 15px;
  }

  .popup__price {
    font-size: 25px;
  }

  .popup__title {
    font-size: 30px;
  }

  .popup__wrapper {
    margin-top: 30px;
  }

  .popup__inr {
    margin-top: 10px;
  }

  .mailto__btn {
    width: 100%;

  }

  .mailto__email {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .popup__inp {
    height: 50px;
  }

  .popup__box {
    margin-top: 10px;
  }

  .popup__btn {
    width: 100%;
    height: 50px;
    padding: 10px 30px;
  }

  .popup__list {
    margin-top: 20px;
  }
}

@media (max-width:385px) {
  .popup__wrapper {
    padding: 24px 15px;
  }

  .popup__title {
    font-size: 26px;
  }

  .popup__price {
    font-size: 20px;
  }

}

.fixed {
  overflow: hidden;
}